
 @import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

h1 {
    font-family: 'Audiowide', cursive !important;
    color: rgb(255, 255, 255)  !important; 
}
h2 {
    font-family: 'Audiowide', cursive !important;
    color: rgb(255, 255, 255)  !important; 
}
h3{
    font-family: 'Audiowide', cursive !important;
    color: rgb(0, 0, 0)  !important; 
}
h4 {
    font-family: 'Audiowide', cursive !important;
    color: rgb(32, 140, 167)  !important; 
}


h5 {
    font-family: 'Figtree', sans-serif !important;
    color: rgb(155, 95, 95) !important;
}
h6, h, a, p, th, td {
    font-family: 'Figtree', sans-serif !important;
    color: rgb(250, 245, 245) !important;
}

p, th, td {
    font-family: 'Figtree', sans-serif !important;
    color: rgb(0, 0, 0) !important;
}


html,body {
    margin: 0 !important;
    padding: 0 !important;
    font-family: 'Figtree', sans-serif !important;
    background-color: lightblue !important;
}
;
